In [1]:
import pandas as pd
import numpy as np

## General Preprocessing

In [2]:
# Database engine creation

from sqlalchemy import create_engine
import psycopg2
from config import db_password

database_s = f"postgres://postgres:{db_password}@localhost/diabetic_data"

In [3]:
# Create the database engine 
engine = create_engine(database_s)

In [4]:
df = pd.read_sql_query('select * FROM "diabetic_data_complete"',con=engine)
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesmed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
2,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
3,73578,86328819,AfricanAmerican,Male,[60-70),?,1,3,7,12,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,84222,108662661,Caucasian,Female,[50-60),?,1,1,7,3,...,No,No,No,No,No,No,No,No,Yes,NO

In [5]:
# Drop additional patient encounters
df.drop_duplicates(subset=['patient_nbr'], keep ='first', inplace=True)

In [6]:
# Drop identifying columns
identifying_columns = ['encounter_id', 'patient_nbr']
df.drop(identifying_columns, axis=1, inplace=True)

In [7]:
# Drop columns with high % of missing data
incomplete_columns = ['weight', 'payer_code', 'medical_specialty']
df.drop(incomplete_columns, axis=1, inplace=True)

In [8]:
# Drop rows with unknown values
df.drop(df[df.race == "?"].index, inplace=True)
df.drop(df[df.gender == "Unknown/Invalid"].index, inplace=True)

# Drop rows with patients who are still in the hospital or expired (dead).

dispos_to_drop = [20, 21, 22, 23, 24, 25, 26 , 27, 28, 29, 40, 41, 49, 11, 13, 14, 19]
for i in dispos_to_drop:
    df.drop(df[df.discharge_disposition_id == i].index, inplace=True)

## Binning diagnoses

In [9]:

df = df[pd.to_numeric(df['diag_1'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['diag_2'], errors='coerce').notnull()]
df = df[pd.to_numeric(df['diag_3'], errors='coerce').notnull()]

# Convert to Float64 dtypes because we want the decimals
df.diag_1 = df.diag_1.astype('float64')
df.diag_2 = df.diag_2.astype('float64')
df.diag_3 = df.diag_3.astype('float64')

In [10]:
# Converting the first diagnosis

for i, row in df.iterrows():
    if (row['diag_1'] >= 1 and row['diag_1'] <= 139): # infectious and parasitic diseases
        df.loc[i, 'diag_1'] = 1
    elif (row['diag_1'] >= 140 and row['diag_1'] <= 239): # neoplasms
        df.loc[i, 'diag_1'] = 2
    elif (row['diag_1'] >= 240 and row['diag_1'] <= 279): # endocrine, nutritional, metabolic & immunity disorders
        df.loc[i, 'diag_1'] = 3
    elif (row['diag_1'] >= 280 and row['diag_1'] <= 289): # diseases of the blood and blood-forming organis
        df.loc[i, 'diag_1'] = 4
    elif (row['diag_1'] >= 290 and row['diag_1'] <= 319): # mental disorders
        df.loc[i, 'diag_1'] = 5
    elif (row['diag_1'] >= 320 and row['diag_1'] <= 389): # diseases of the nervous system and sense organs
        df.loc[i, 'diag_1'] = 6
    elif (row['diag_1'] >= 390 and row['diag_1'] <= 459): # diseases of the circulatory system
        df.loc[i, 'diag_1'] = 7
    elif (row['diag_1'] >= 460 and row['diag_1'] <= 519): # diseases of the respiratory system
        df.loc[i, 'diag_1'] = 8
    elif (row['diag_1'] >= 520 and row['diag_1'] <= 579): # diseases of the digestive system
        df.loc[i, 'diag_1'] = 9
    elif (row['diag_1'] >= 580 and row['diag_1'] <= 629): # diseases of the genitourinary system
        df.loc[i, 'diag_1'] = 10
    elif (row['diag_1'] >= 630 and row['diag_1'] <= 679): # complications of pregnancy, childbirth and the puerperium
        df.loc[i, 'diag_1'] = 11
    elif (row['diag_1'] >= 680 and row['diag_1'] <= 709): # diseases of the skin and subcutaneuous tissue
        df.loc[i, 'diag_1'] = 12
    elif (row['diag_1'] >= 710 and row['diag_1'] <= 739): # diseases of the muscuskeletal system and connective tissue
        df.loc[i, 'diag_1'] = 13
    elif (row['diag_1'] >= 740 and row['diag_1'] <= 759): # congenital anomalies
        df.loc[i, 'diag_1'] = 14
    elif (row['diag_1'] >= 760 and row['diag_1'] <= 779): # certain condtions originating in the perinatal period
        df.loc[i, 'diag_1'] = 15
    elif (row['diag_1'] >= 780 and row['diag_1'] <= 799): # symptoms, signs and ill-defined conditions
        df.loc[i, 'diag_1'] = 16
    elif (row['diag_1'] >= 800 and row['diag_1'] <= 999): # injury and poisoning
        df.loc[i, 'diag_1'] = 17

In [11]:
# Converting the second diagnosis


for i, row in df.iterrows():
    if (row['diag_2'] >= 1 and row['diag_2'] <= 139): # infectious and parasitic diseases
        df.loc[i, 'diag_2'] = 1
    elif (row['diag_2'] >= 140 and row['diag_2'] <= 239): # neoplasms
        df.loc[i, 'diag_2'] = 2
    elif (row['diag_2'] >= 240 and row['diag_2'] <= 279): # endocrine, nutritional, metabolic & immunity disorders
        df.loc[i, 'diag_2'] = 3
    elif (row['diag_2'] >= 280 and row['diag_2'] <= 289): # diseases of the blood and blood-forming organis
        df.loc[i, 'diag_2'] = 4
    elif (row['diag_2'] >= 290 and row['diag_2'] <= 319): # mental disorders
        df.loc[i, 'diag_2'] = 5
    elif (row['diag_2'] >= 320 and row['diag_2'] <= 389): # diseases of the nervous system and sense organs
        df.loc[i, 'diag_2'] = 6
    elif (row['diag_2'] >= 390 and row['diag_2'] <= 459): # diseases of the circulatory system
        df.loc[i, 'diag_2'] = 7
    elif (row['diag_2'] >= 460 and row['diag_2'] <= 519): # diseases of the respiratory system
        df.loc[i, 'diag_2'] = 8
    elif (row['diag_2'] >= 520 and row['diag_2'] <= 579): # diseases of the digestive system
        df.loc[i, 'diag_2'] = 9
    elif (row['diag_2'] >= 580 and row['diag_2'] <= 629): # diseases of the genitourinary system
        df.loc[i, 'diag_2'] = 10
    elif (row['diag_2'] >= 630 and row['diag_2'] <= 679): # complications of pregnancy, childbirth and the puerperium
        df.loc[i, 'diag_2'] = 11
    elif (row['diag_2'] >= 680 and row['diag_2'] <= 709): # diseases of the skin and subcutaneuous tissue
        df.loc[i, 'diag_2'] = 12
    elif (row['diag_2'] >= 710 and row['diag_2'] <= 739): # diseases of the muscuskeletal system and connective tissue
        df.loc[i, 'diag_2'] = 13
    elif (row['diag_2'] >= 740 and row['diag_2'] <= 759): # congenital anomalies
        df.loc[i, 'diag_2'] = 14
    elif (row['diag_2'] >= 760 and row['diag_2'] <= 779): # certain condtions originating in the perinatal period
        df.loc[i, 'diag_2'] = 15
    elif (row['diag_2'] >= 780 and row['diag_2'] <= 799): # symptoms, signs and ill-defined conditions
        df.loc[i, 'diag_2'] = 16
    elif (row['diag_2'] >= 800 and row['diag_2'] <= 999): # injury and poisoning
        df.loc[i, 'diag_2'] = 17

In [12]:
# Converting the third diagnosis


for i, row in df.iterrows():
    if (row['diag_3'] >= 1 and row['diag_3'] <= 139): # infectious and parasitic diseases
        df.loc[i, 'diag_3'] = 1
    elif (row['diag_3'] >= 140 and row['diag_3'] <= 239): # neoplasms
        df.loc[i, 'diag_3'] = 2
    elif (row['diag_3'] >= 240 and row['diag_3'] <= 279): # endocrine, nutritional, metabolic & immunity disorders
        df.loc[i, 'diag_3'] = 3
    elif (row['diag_3'] >= 280 and row['diag_3'] <= 289): # diseases of the blood and blood-forming organis
        df.loc[i, 'diag_3'] = 4
    elif (row['diag_3'] >= 290 and row['diag_3'] <= 319): # mental disorders
        df.loc[i, 'diag_3'] = 5
    elif (row['diag_3'] >= 320 and row['diag_3'] <= 389): # diseases of the nervous system and sense organs
        df.loc[i, 'diag_3'] = 6
    elif (row['diag_3'] >= 390 and row['diag_3'] <= 459): # diseases of the circulatory system
        df.loc[i, 'diag_3'] = 7
    elif (row['diag_3'] >= 460 and row['diag_3'] <= 519): # diseases of the respiratory system
        df.loc[i, 'diag_3'] = 8
    elif (row['diag_3'] >= 520 and row['diag_3'] <= 579): # diseases of the digestive system
        df.loc[i, 'diag_3'] = 9
    elif (row['diag_3'] >= 580 and row['diag_3'] <= 629): # diseases of the genitourinary system
        df.loc[i, 'diag_3'] = 10
    elif (row['diag_3'] >= 630 and row['diag_3'] <= 679): # complications of pregnancy, childbirth and the puerperium
        df.loc[i, 'diag_3'] = 11
    elif (row['diag_3'] >= 680 and row['diag_3'] <= 709): # diseases of the skin and subcutaneuous tissue
        df.loc[i, 'diag_3'] = 12
    elif (row['diag_3'] >= 710 and row['diag_3'] <= 739): # diseases of the muscuskeletal system and connective tissue
        df.loc[i, 'diag_3'] = 13
    elif (row['diag_3'] >= 740 and row['diag_3'] <= 759): # congenital anomalies
        df.loc[i, 'diag_3'] = 14
    elif (row['diag_3'] >= 760 and row['diag_3'] <= 779): # certain condtions originating in the perinatal period
        df.loc[i, 'diag_3'] = 15
    elif (row['diag_3'] >= 780 and row['diag_3'] <= 799): # symptoms, signs and ill-defined conditions
        df.loc[i, 'diag_3'] = 16
    elif (row['diag_3'] >= 800 and row['diag_3'] <= 999): # injury and poisoning
        df.loc[i, 'diag_3'] = 17

## Track the number of medications changed

In [13]:
medicine_columns = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone']

In [14]:
# Create a dataframe from the medication columns
medicine_df = df[medicine_columns]

In [15]:
# Define a function that returns 0 if there was no change and 1 if there was 
def is_changed(x):
    same = ['No', 'Steady']
    return 0 if x in same else 1

In [16]:
# Apply that function to the entire medicine df, creating a data frame of 1s and 0s

medicine_df_temp = medicine_df.apply(lambda x: [is_changed(i) for i in x])

# Create a new column that sums each row
medicine_df_temp['num_meds_changed'] = medicine_df_temp.apply(np.sum, axis=1)

In [17]:
# Validate values 

medicine_df_temp['num_meds_changed'].value_counts()

0    44296
1    13749
2      769
3       61
4        5
Name: num_meds_changed, dtype: int64

In [18]:
# Add num_meds_changed to original df

df['num_meds_changed'] = medicine_df_temp['num_meds_changed']

# Dropping the medicine columns and the change column as num_meds_changed is now measuring the same thing
df.drop(medicine_columns, axis=1, inplace=True)
df.drop('change', axis=1, inplace=True)

In [19]:
# Further validation
medicine_df_temp[medicine_df_temp['num_meds_changed']==4]

,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,...,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,num_meds_changed
19214,1,0,0,0,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,4
19251,1,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,4
43894,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,4
68479,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,4
74781,1,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,4

In [20]:
df.shape

(58880, 22)

## Track total number of visits in previous year

In [21]:
df['total_hosp_visits'] = df['number_emergency'] + df['number_inpatient'] + df['number_outpatient']

In [22]:
df.drop(['number_emergency', 'number_inpatient', 'number_outpatient'], axis=1, inplace=True)

In [23]:
df.shape

(58880, 20)

In [24]:
df.columns

Index(['race', 'gender', 'age', 'admission_type_id',
       'discharge_disposition_id', 'admission_source_id', 'time_in_hospital',
       'num_lab_procedures', 'num_procedures', 'num_medications', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'a1cresult',
       'diabetesmed', 'readmitted', 'num_meds_changed', 'total_hosp_visits'],
      dtype='object')

## Encoding

In [25]:
# Encoding age

age_groups = {
    "[0-10)": 0,
    "[10-20)": 1,
    "[20-30)":2,
    "[30-40)":3,
    "[40-50)":4,
    "[50-60)":5,
    "[60-70)":6,
    "[70-80)":7,
    "[80-90)":8,
    "[90-100)":9
}

df['age'] = df['age'].apply(lambda x: age_groups[x])

In [26]:
# Encoding gender

gender_groups = {
    "Female": 0,
    "Male": 1
}

df['gender'] = df['gender'].apply(lambda x: gender_groups[x] )

In [27]:
df.dtypes

race                         object
gender                        int64
age                           int64
admission_type_id             int64
discharge_disposition_id      int64
admission_source_id           int64
time_in_hospital              int64
num_lab_procedures            int64
num_procedures                int64
num_medications               int64
diag_1                      float64
diag_2                      float64
diag_3                      float64
number_diagnoses              int64
max_glu_serum                object
a1cresult                    object
diabetesmed                  object
readmitted                   object
num_meds_changed              int64
total_hosp_visits             int64
dtype: object

In [29]:
# A1c test result

result_groups = {
    "None": 0,
    "Norm": 1,
    ">7":2,
    ">8":3
}

df['a1cresult'] = df['a1cresult'].apply(lambda x: result_groups[x])

In [31]:
# Any diabetes medications prescribed?

meds = {
    "No": 0,
    "Yes": 1
}

df['diabetesmed'] = df['diabetesmed'].apply(lambda x: meds[x])

In [32]:
# Glucose serum test amount

serum_amounts = {
    "None": 0,
    "Norm": 1,
    ">200": 2,
    ">300": 3
}


df['max_glu_serum'] = df['max_glu_serum'].apply(lambda x: serum_amounts[x])

In [33]:
# Was the patient readmitted? If so in how long?

readmitted = {
    "NO": 0,
    "<30": 1,
    ">30": 1
}

df['readmitted'] = df['readmitted'].apply(lambda x: readmitted[x])

## Binning Admission Source Ids

In [34]:
def encode_source_type(x):
    encode_dict = {
        1: "Referral",
        7: "Emergency Room",
    }
    
    return encode_dict[x] if x in encode_dict else "Other"

# Based on this https://www.health.ny.gov/statistics/sparcs/sysdoc/elements_837/source_of_admission.htm

In [35]:
df['admission_source_id'] = df['admission_source_id'].apply(lambda x: encode_source_type(x))

## Binning Admission Type Ids

In [36]:
def encode_type(x):
    
    encode_dict = {
        1: "Emergency",
        2: "Emergency",
        3: "Elective"
    }
    
    return encode_dict[x] if x in encode_dict else "Other"

In [37]:
df['admission_type_id'] = df['admission_type_id'].apply(lambda x: encode_type(x))

In [38]:
def encode_dispos(x):
    
    encode_dict = {
        1: "Discharged to Home"
    }
    
    return encode_dict[x] if x in encode_dict else "Other"

In [39]:
df['discharge_disposition_id'] = df['discharge_disposition_id'].apply(lambda x: encode_dispos(x))

## Turning categorical variables to dummy variables

In [40]:
object_columns = [i for i in df.columns if df[i].dtype == "object"]
dummy_columns = pd.get_dummies(df[object_columns])

df = pd.concat([df, dummy_columns], axis=1).drop(object_columns, axis=1)

In [41]:
df.shape

(58880, 29)

In [42]:
df.columns

Index(['gender', 'age', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'diag_1', 'diag_2', 'diag_3',
       'number_diagnoses', 'max_glu_serum', 'a1cresult', 'diabetesmed',
       'readmitted', 'num_meds_changed', 'total_hosp_visits',
       'race_AfricanAmerican', 'race_Asian', 'race_Caucasian', 'race_Hispanic',
       'race_Other', 'admission_type_id_Elective',
       'admission_type_id_Emergency', 'admission_type_id_Other',
       'discharge_disposition_id_Discharged to Home',
       'discharge_disposition_id_Other', 'admission_source_id_Emergency Room',
       'admission_source_id_Other', 'admission_source_id_Referral'],
      dtype='object')

## SVM Test

In [43]:
# Create a copy of df & Segment the features from the target
test_df = df.copy()

X = test_df.drop('readmitted', axis=1).values
y = test_df['readmitted'].values

In [44]:
# Use the train_test_split function to create training and testing subsets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(44160, 28)

In [45]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [46]:
# Instantiate a linear SVM model
from sklearn.svm import SVC
model = SVC(kernel='linear')

# Fit the data
model.fit(X_train_scaled, y_train)

SVC(kernel='linear')

In [47]:
# Make predictions using the test data
y_pred = model.predict(X_test_scaled)
results = pd.DataFrame({
    "Prediction": y_pred, 
    "Actual": y_test
}).reset_index(drop=True)
results.head()

   Prediction  Actual
0           0       1
1           0       0
2           0       0
3           0       0
4           0       0

In [48]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.6505434782608696

In [49]:
from sklearn.metrics import confusion_matrix, classification_report

cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         9109          264
Actual 1         4880          467

In [50]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.65      0.97      0.78      9373
           1       0.64      0.09      0.15      5347

    accuracy                           0.65     14720
   macro avg       0.65      0.53      0.47     14720
weighted avg       0.65      0.65      0.55     14720

#### Justification for Model (SVM) Choice: We selected SVM for our Machine Learning Model because, not only did we obtain the best accuracy from this model, the model was also the most sensitive to readmissions. One limitation of this model is the restriction to binary target even though our intial dataset had 3 classes. In view of this, we have had to modify our target to only 2 classes thereby resulting into some form of information loss. Below is a Random Forest Classifier that shows a comparison to the SVM classifier

## RFC Test

In [51]:
from sklearn.ensemble import RandomForestClassifier

test_df = df.copy()

X = test_df.drop('readmitted', axis=1).values
y = test_df['readmitted'].values

In [52]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.2)

In [53]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [54]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(n_estimators=300, random_state=1, max_depth=100, bootstrap=True, max_features=3).fit(X_train_scaled, y_train)

In [55]:
from sklearn.metrics import accuracy_score

predictions = rf_model.predict(X_test_scaled)
acc_score = accuracy_score(y_test, predictions)

acc_score

0.6561650815217391

In [56]:
from sklearn.metrics import confusion_matrix, classification_report

cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0         6573          896
Actual 1         3153         1154

In [57]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.68      0.88      0.76      7469
           1       0.56      0.27      0.36      4307

    accuracy                           0.66     11776
   macro avg       0.62      0.57      0.56     11776
weighted avg       0.63      0.66      0.62     11776

In [58]:
importances = rf_model.feature_importances_

sorted(zip(rf_model.feature_importances_, test_df.drop('readmitted', axis=1).columns), reverse=True)

[(0.13471542405685039, 'num_lab_procedures'),
 (0.11728402716852919, 'num_medications'),
 (0.08325329247478248, 'time_in_hospital'),
 (0.07963376971335409, 'diag_2'),
 (0.07745067871793979, 'diag_1'),
 (0.07547890086064642, 'diag_3'),
 (0.06775513982806432, 'age'),
 (0.06498754047769705, 'total_hosp_visits'),
 (0.05860185274108024, 'number_diagnoses'),
 (0.05704311937329787, 'num_procedures'),
 (0.025058255283993445, 'a1cresult'),
 (0.024871867047737143, 'gender'),
 (0.021046014378742914, 'num_meds_changed'),
 (0.014170951055630213, 'diabetesmed'),
 (0.010947586520024291, 'race_Caucasian'),
 (0.009860471294520754, 'discharge_disposition_id_Discharged to Home'),
 (0.00983816344628385, 'race_AfricanAmerican'),
 (0.009792717204759683, 'discharge_disposition_id_Other'),
 (0.00883916337720896, 'admission_source_id_Emergency Room'),
 (0.008134184531446972, 'admission_source_id_Referral'),
 (0.007107908378301854, 'max_glu_serum'),
 (0.007013475547111643, 'admission_type_id_Emergency'),
 (0.006838306164602718, 'admission_source_id_Other'),
 (0.006050496258233389, 'admission_type_id_Elective'),
 (0.00596751267116292, 'admission_type_id_Other'),
 (0.003585195630132972, 'race_Hispanic'),
 (0.002967991149416141, 'race_Other'),
 (0.0017059946484482252, 'race_Asian')]